<!DOCTYPE html>
<html>
	<head>
		<title>
			GPS HUB
		</title>
	</head>
	<body>
		<h1>
			<a href="/">Garmin eTrex GPS USB web hub</a>
		</h1>
		<p>
			<code>device dev_path <b>{{ gps.dev_path }}</b><br>
			device mount_point <b>{{ gps.mount_point }}</b><br>
			device is connected <b>{{ gps.isDevExists() }}</b><br>
			device is mounted <b>{{ gps.isMounted() }}</b><br></code> {% if gps.isMounted() %}
		</p>
		<h2>
			GPS is mounted
		</h2>
		<h3 style="color: red;">
			do not detach GPS
		</h3>
		<form action="/action" method="post">
			<button type="submit" formmethod="post" formaction="/action" name="action" value="umount">umount</button>
		</form>
		<p>
			{% if gps.device is none %}
		</p>
		<p>
			Device config xml hasn't been read.
		</p>
		<form action="/action" method="post">
			<button type="submit" formmethod="post" formaction="/action" name="action" value="read_device_xml">read device xml</button>
		</form>
		<p>
			{% else %}
		</p>
		<p>
			device: {{ gps.device['description'] }} software version: {{ gps.device['softwareversion'] }} partno: {{ gps.device['partnumber'] }}<br>
		</p>
		<p>
			{% for folderName in folderNames %}
		</p>
		<h2>
			{{ folderName }} upload {{ gps.getFolderExtensionByName(folderName) }} files
		</h2>
		<p>
			<code>path: {{ gps.getFolderPathByName(folderName)|e }}</code>
		</p>
		<ul>
			{% for file in gps.listdir(Name=folderName) %} {% if file.lower().endswith('.gpx') %}
			<li>{{ file|e }} <i>{{ gps.getTrackNameFromGPX(file, folderName)|e }}</i>
			</li>{% else %}
			<li>{{ file|e }}
			</li>{% endif %} {% else %}
			<li>
				<em>no files found</em>
			</li>{% endfor %}
		</ul><!-- <h3>Upload new File</h3> -->
		<p>
			upload new *.{{ gps.getFolderExtensionByName(folderName).lower() }} file in {{ folderName }}
		</p>
		<form action="/action" method="post" enctype="multipart/form-data">
			<p>
				<input type="hidden" name="action" value="file_upload"> <input type="hidden" name="folder_name" value="{{ folderName }}"> <input type="file" name="file" accept="{{ gps.getFolderExtensionByName(folderName) }}"><input type="submit" value="Upload">
			</p>
		</form>
		<p>
			{% endfor %} {% endif %} {% else %} {% if gps.isDevExists() %}
		</p>
		<h2>
			GPS is connected but not mounted
		</h2>
		<h3 style="color: green;">
			it is safe to detach GPS
		</h3>
		<h3>
			mount GPS
		</h3>
		<form action="/action" method="post">
			<button type="submit" formmethod="post" formaction="/action" name="action" value="mount">mount</button>
		</form>
		<p>
			{% else %}
		</p>
		<h2>
			no GPS found
		</h2>
		<form action="/action" method="post">
			<input type="hidden" name="halt_secret" value="-1"> <button type="submit" formmethod="post" formaction="/action" name="action" value="system_halt">system halt</button>
		</form>
		<p>
			{% endif %} {% endif %}
		</p>
	</body>
</html>

